
<div class="container">
  <header class="topBar">
    <div class="searchbox">

      <input class="searchtext " type="text" name="" id="" placeholder="Search">
      <span class="icon-search"></span>
      <span class="icon-close"></span>
    </div>
    <div class="profilecss">
      <span class="icon-down-indicator"></span>
      <span class="icon-user"></span>
      <span class="user-name  set-bold">  {{ name }}</span>
     
  
    </div>
  </header>

  <aside class="left-column">


    <ul class="leftaside" *ngFor="let i of data">
      <li (click)="loadprofile(i.name,i.Description,i.Likes,i.Dislikes,i.img)"> {{i.name}}
        <span class="arrow icon-right-indicator"></span>
      </li>
    </ul>



  </aside>

  <section class="right-column">
    <div class="right-top">   
      <img class="user-image" src={{image}}} alt="image not found">
    </div>
    
    <div class="message">SEND MESSAGE!</div><br><br><br>
    <div class="heart-display">
    <span class="icon-heart"></span>
    <span class="icon-heart"></span>
    <span class="icon-heart"></span>
    <span class="icon-heart"></span>
    <span class="icon-heart heart-color"></span>
  
  </div>

    <div class="description">{{desc}}</div>

    <div class="Likes-Dislikes">
      <div class="inner-like-dislike set-bold" >Likes</div>
      <div class="inner-like-dislike" *ngFor="let i of likes">{{i}}</div>

    </div>
    <div class="Likes-Dislikes">
        <div class="inner-like-dislike set-bold" >Dislikes</div>
      <div class="inner-like-dislike" *ngFor="let i of dislikes">{{i}}</div>
    </div>
  </section>
</div>