
.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 1200px;
    margin: 0 auto;
}
.topBar{    
    height: 60px; 
    font-family:'sans-serif';
    margin-bottom: 20px;
}

.searchbox {
    float: left;
    margin-top: 10px;
    position: relative;
    width: 350px;

}
.icon-search{
    position: absolute;
    left: 15px;
    top: 10px;
}
.icon-close{
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 12px;
}
.searchtext{
    border-radius: 25px;
    height: 30px;
    width: 350px;
    text-align: center;

}
.bottomBar {
    clear: both;
}
.profilecss{
    float: right;
    margin-right: 0;
    width: 750px;
    
}
.profilecss h1{
    margin-right: 20px;
    margin-top: 10px;
}
.left-column{  
    width: 300px;
    float: left;
   
}
.right-column{
    float: right;
    width: 850px;
    margin-right: 0;
    margin-left: auto;
 }

.leftaside {
    margin-bottom:-19px;
    list-style-type: none;   
}
.leftaside li{
    cursor: pointer;
    border: 1px solid grey;
    height: 60px;
    padding-top: 35px;
    margin-top: -20px;
    margin-left: -33px;
    padding-left: 10px;
}


.message{
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 115px;
    height: 20px;
    float: left;     
    border-radius: 5px;
    font-size: 11px;
    margin-left: 100px; 
    padding-top: 15px;

}
.description{ 
    clear: both;
    padding-top: 20px;
    margin-bottom: 30px;
    height: 60px;
}
.arrow{
   float: right;
   margin-right: 5px;
}
.like-dislike{
border: 1px solid black;
height: 200px;
float: left;
margin-top: 50px;

}

.Likes-Dislikes{
    float: left;
    display: flex;
    flex-flow: row wrap;
    width: 400px;   

}
.inner-like-dislike{
    flex-basis: 100%; 
    float: left;
    font-weight: normal;
    border: 1px solid black;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
  

}
.inner-like-dislike:nth-child(even) { 
    background-color: #ffffe6;
 }
 .icon-down-indicator{
    font-size: 12px;
    margin-left: 5px;
    float: right;
    margin-top: 25px;
 }
 .icon-user{
     font-size: 40px;
     margin-left: 20px;
     float: right;

 }
 .user-image{
     border-radius: 10px;
     width: 100px;
     height: 100px;
 }
 .user-name{
     float: right;
     margin-top: 20px;
 }
 .right-top{
     float: left;
 }
 .set-bold{
     font-weight: bold;
 }
 .icon-heart{

    font-size: 30px;
 }
 .heart-display{
    margin-left: 200px;
 }
 .heart-color{
    color: darkgoldenrod;
 }

 @media screen and (max-width:1199px){
    .container{
        width: 100%
    }
    .searchbox {
        width: 33%
    }
    .searchtext {
        width: 33%
    }
    .profilecss {
        width: 67%
    }
    .left-column {
        width: 25%
    }
    .right-column {
        width: 75%
    }
    .Likes-Dislikes {
        width: 50%
    }
 }

 

 /* for mobile phone iphone6/7/8 */
 @media screen and (max-width:475px){
    .container{
        width: 100%;
        font-size: 12px;
    }
    .searchbox {
        width: 40%
    }
    .searchtext {
        width: 100%
    }
    .profilecss {
        width: 60%
    }
    .left-column {
        width: 100%
    }
    .right-column {
        width: 100%
    }
    .Likes-Dislikes {
        width: 50%
    }
    .description{ 
        height: 40px;

    }
    .right-column{
        margin-top: 50px;
    }
    .leftaside li{
        height: 25px;
        padding-top: 12px;
        margin-top: 18px;
    }
   
    .topBar{   
        margin-bottom: -12px;
    }
    .user-image{
        width: 70px;
        height: 70px;
    }
    .message{      
        width: 80px;
        height: 15px;       
        font-size: 9px;       
        padding-top: 10px;    
    }
    .icon-heart{
        font-size: 20px;
       
    }
    .heart-display{
        margin-left: 175px;
    }
 }
/* for tablet */
 @media (min-width: 475px) and (max-width: 1200px) {
    .container{
        width: 100%;
        font-size: 14px;
    }
    .left-column {
        width: 20%
    }
    .right-column{
        width: 76%;
        margin-top: 20px;
        margin-left: 10px;
    } 
    .searchbox {
        width: 30%
    }
    .searchtext {
        width: 100%
    }
    .profilecss {
        width: 70%
    }
 
    .Likes-Dislikes {
        width: 50%
    }
    .description{ 
        height: 80px;

    }  
    .leftaside li{
        height: 55px;
        padding-top: 35px;
        margin-top: 18px;
    }
   
    .topBar{   
        margin-bottom: -12px;
    }
    .user-image{
        width: 70px;
        height: 70px;
    }
    .message{      
        width: 80px;
        height: 15px;       
        font-size: 9px;       
        padding-top: 10px;    
    }
    .icon-heart{
        font-size: 20px;
       
    }
    .heart-display{
        margin-left: 175px;
    }
    
  }
 